.projectss {
    background-color: #909090;
    background-image: url("../images/college.png");

    min-height: 100vh;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}