.intro {
    background-color: #F8F8F8;
}
.intro_div {
    display: flex;
    justify-content: center;
}
.intro_left {
    flex: 50%;
    padding: 40px;
    text-align: center;
}
.logos {
    height: 30px;
    margin: 15px;
    cursor: pointer;
}
.intro_right {
    flex: 50%;
    padding: 40px;
    text-align: center;
}
.harshit {
    width: 70%;
}